/* styles.css */
.glow-container {
  overflow: hidden; /* Contain the shadow within the element's bounds */
}

.multi-glow-shadow {
  position: relative;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px; /* Adds space between the divs */
  border-radius: 15px; /* Rounded corners */
  background: linear-gradient(135deg, #171719, #1f1f1f); /* Subtle gradient background */
  padding: 20px; /* Add some padding */
}

.multi-glow-shadow::before {
  content: '';
  position: absolute;
  bottom: 0; /* Glow only at the bottom */
  right: 0; /* Glow only on the right */
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: inherit;
  box-shadow: 0 0 15px 10px rgba(255, 69, 0, 0.7), /* enhanced orange glow */
              0 0 25px 15px rgba(255, 0, 0, 0.5); /* enhanced red glow */
  animation: glow 2s infinite alternate;
}

.multi-glow-shadow:hover {
 transform: scale(1.08);
  box-shadow: 0 0 10px 5px rgba(255, 69, 0, 0.8), /* enhanced hover shadow */
              0 0 20px 10px rgba(255, 0, 0, 0.6); /* enhanced hover shadow */
}

@keyframes glow {
  from {
    box-shadow: 0 0 15px 10px rgba(255, 69, 0, 0.7), 0 0 25px 15px rgba(255, 0, 0, 0.5);
  }
  to {
    box-shadow: 0 0 20px 15px rgba(255, 69, 0, 0.9), 0 0 30px 20px rgba(255, 0, 0, 0.7);
  }
}

@media (max-width: 1023px) {
  .multi-glow-shadow::before {
    bottom: initial; /* No bottom glow on smaller screens */
    top: -5px; /* Glow only at the top */
    right: initial; /* No right glow on smaller screens */
    left: -5px; /* Glow only on the left */
    width: calc(100% + 10px);
    height: calc(100% + 10px);
  }

  .multi-glow-shadow:hover {
    transform: none; /* Disable hover transform effect on smaller screens */
    box-shadow: none; /* Disable hover shadow effect on smaller screens */
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .multi-glow-shadow:hover {
    transform: scale(1.01); /* Reduce scale to fit within the screen on medium screens */
  }
}
/* styles.css */
/* styles.css */
.button-glow-shadow {
  position: relative;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 1.5rem; /* Equivalent to rounded-3xl in Tailwind CSS */
}

.button-glow-shadow::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: inherit;
  box-shadow: 0 0 15px 10px rgba(255, 69, 0, 0.7), /* enhanced orange glow */
              0 0 25px 15px rgba(255, 0, 0, 0.5); /* enhanced red glow */
  animation: glow 2s infinite alternate;
}

.button-glow-shadow:hover {
  transform: scale(1.08);
  box-shadow: 0 0 10px 5px rgba(255, 69, 0, 0.8), /* enhanced hover shadow */
              0 0 20px 10px rgba(255, 0, 0, 0.6); /* enhanced hover shadow */
}

@keyframes glow {
  from {
    box-shadow: 0 0 15px 10px rgba(255, 69, 0, 0.7), 0 0 25px 15px rgba(255, 0, 0, 0.5);
  }
  to {
    box-shadow: 0 0 20px 15px rgba(255, 69, 0, 0.9), 0 0 30px 20px rgba(255, 0, 0, 0.7);
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .button-glow-shadow:hover {
    transform: scale(1.01);
  }
}

.glow-letter {
  position: relative;
  display: inline-block;
}

.glow-letter::before {
  content: attr(data-letter);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  color: rgba(255, 69, 0, 1); /* Brighter orange glow */
  filter: blur(8px); /* Increase blur for a stronger glow */
  opacity: 1; /* Higher opacity for a more intense glow */
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    filter: blur(8px);
    opacity: 1;
  }
  to {
    filter: blur(12px); /* Increased blur for animation */
    opacity: 1;
  }
}
.img-container {
  position: absolute;
  z-index: 50;
  bottom: 777px;
  right: -22px; /* Default right position for most screens */
  width: 180px; /* Default width for smaller screens */
}

@media (max-width: 319px) {
  .img-container {
    right: -22px; /* Adjusted right position for below 320px screens */
    width: 140px; /* Adjusted width for below 320px screens */
  }
}

@media (min-width: 320px) {
  .img-container {
    /* Styles for screens 320px and above remain unchanged */
  }
}

@media (min-width: 640px) {
  .img-container {
    right: 14px; /* Adjusted right position for lg screens */
    bottom: 5px;
    width: 540px; /* Adjusted width for lg screens */
  }
}

@media (min-width: 768px) {
  .img-container {
    right: -16px; /* Adjusted right position for md screens */
    bottom: 230px;
    width: 650px; /* Adjusted width for md screens */
  }
}

@media (min-width: 1536px) {
  .img-container {
    right: -96px; /* Adjusted right position for 2xl screens */
  }
}
